language: ruby
sudo: false
env:
  - "RAILS_VERSION=4.2.6"
  - "RAILS_VERSION=5.0.0"
  - "RAILS_VERSION=master"
rvm:
  - 2.1
  - 2.2.4
  - 2.3.0
matrix:
  exclude:
    - rvm: 2.0
      env: "RAILS_VERSION=5.0.0"
    - rvm: 2.1
      env: "RAILS_VERSION=5.0.0"
  allow_failures:
    - env: "RAILS_VERSION=master"
