language: ruby
sudo: false
env:
  - "RAILS_VERSION=4.2.7"
  - "RAILS_VERSION=5.0.0"
  - "RAILS_VERSION=master"
rvm:
  - 2.1.10
  - 2.2.6
  - 2.3.3
  - 2.4.0
matrix:
  exclude:
    - rvm: 2.1.10
      env: "RAILS_VERSION=5.0.0"
    - rvm: 2.4.0
      env: "RAILS_VERSION=4.2.7"
  allow_failures:
    - env: "RAILS_VERSION=master"
